/*  
Home page styling page
*/

html{
	font-size: 10px;
}

#menu{
	position: fixed;
	top: 0;
	margin-top: 0;
	left: 0;
	right: 0;
	background: lightsteelblue;
}

#menu > ul{
	margin: 0;
	padding: 1rem;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}

#menu > ul > li{
	list-style-type: none;
	margin:  0 .5rem .5rem 0;
}

#menu > ul > li > a{
	padding: 5px;
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 2.1rem;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

#menu > ul > li > a:hover{
	border: 3px dotted black;
	color: blue;
	text-decoration: underline; 
}


body{
	height: 800px;
	margin-top: 0;
	background-color: lightblue;
	padding: 20px 20px 20px 20px;
}

header{
	background-color: slategrey;
	border-radius: 9px;
	max-width: max-content;
	margin-top: 76px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}




header > h1{
	margin: 0;
	text-align: center;
	color: skyblue;
	font-size: 4.5rem; 
	font-family: Futura, Trebuchet MS, Arial, sans-serif;
}


main{
	border-radius: 4px;
	max-width: fit-content;
	padding: 7px;
	justify-self: center;
}

#mainDiv{
	overflow: auto;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    margin-bottom: 1.5rem;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#mainDiv div{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
	border-radius: 3px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.7rem;
	padding: 1rem;
	text-align: center;
	background-color: white;
	border: 1px solid black;
}


#mainDiv div p{
	font-family: monospace;
	font-size: 1.8rem;
}


#mainDiv div p:hover{
	color: green;
	border-left: 4px solid green;
	border-right: 4px solid green;
}


main h2{
	font-size: 2.7rem;
	text-align: center;
}


/* Styling for discs inside main */

section{
	padding: 7px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	background-color: rgb(109, 211, 116);
}

section > p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
	font-size: 1.9rem;
	padding: 0 0 .5rem .5rem; 
}

/* home page image styling */

figure{
    margin-left: 0;
    margin-right: 0;
}


main > figure > img{
	max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

body > footer{
	font-size: 1.8rem;
	font-family:'Trebuchet MS', sans-serif;
	text-align: center;
}